body {
    text-align: center;
    background-color: #eee;
}

div {
    text-align: left;
    margin: auto auto;
    border: 10px solid black;
    width: 70vw;
    height: auto;
    background-color: black;

}
li {
    border: 1px solid black;
    line-height: 50px;
    font-size: 20px;
    background-color: red;
    color: white;
    margin: fill;

}

p {
    margin: 10px;
    font-size: 15px;
}